

#indulgence-container .ccmDateNav ul {overflow:hidden; list-style:none; padding:0px; margin:0px; font-size:1.1em; }
#indulgence-container .ccmDateNav ul li { font-family: 'Lora', sans-serif; font-weight:400; letter-spacing: 0.1em; margin:0 0 0.688em 0; color:#4c4c4c; line-height: 1.1; font-style: normal; text-rendering: optimizeLegibility; text-transform: uppercase;  }
#indulgence-container .ccmDateNav ul li.selected{ font-weight:bold }
#indulgence-container .ccmDateNav ul li .section{ font-size:20px; margin:0 0 0.688em 0; background: url(../images/arrow_down.png) no-repeat left; padding-left:18px; }
#indulgence-container .ccmDateNav ul li .section.closed{ background:url(../images/arrow_right_gray.png) no-repeat left; }
#indulgence-container .ccmDateNav ul li .sectionPage{ margin-left:16px; }
#indulgence-container .ccmDateNav ul li .ellipsis {padding-top:0px; margin-top:0px; line-height:4px; padding-bottom:4px;}
#magify-container .ccmDateNav li.year {padding-bottom:0px; }
#indulgence-container .ccmDateNav ul.years li.year ul.months{margin-left:16px; margin-bottom:0px; padding-bottom:0px;} 
#indulgence-container .ccmDateNav ul.years li.year ul.months li.month { font-family: 'Lora', sans-serif!important; font-weight:300; letter-spacing: 0.1em; margin:0; color:#4c4c4c; line-height: 1.1; font-style: normal; text-rendering: optimizeLegibility; text-transform: uppercase;}
#indulgence-container .ccmDateNav ul.months li.month ul.monthsPages{ margin-left:16px;}
#indulgence-container .ccmDateNav .trigger{cursor:pointer}

#indulgence-container .ccmDateNav ul li .pageSummary{ font-size:85%; line-height:85%; margin:4px 0px;  }

#indulgence-container .ccmDateNav ul li .section{ background-image:url(../images/arrow_down.png); }
#indulgence-container .ccmDateNav ul li .section.closed{ background-image:url(../images/arrow_right.png); }

#indulgence-container .ccmDateNav .monthsPage span {color:#a4a4a4; margin-right:12px;}

#indulgence-container .ccmDateNav .monthsPage a { font-size:16px; -webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;-o-transition: 0.4s ease;-ms-transition: 0.4s ease;transition: 0.4s ease;}
#indulgence-container .ccmDateNav .monthsPage a:hover { border-bottom: 0; margin-left:4px;}

