/*
 * jQuery FlexSlider v2.0
 * http://www.woothemes.com/flexslider/
 *
 * Copyright 2012 WooThemes
 * Free to use under the GPLv2 license.
 * http://www.gnu.org/licenses/gpl-2.0.html
 *
 * Contributing author: Tyler Smith (@mbmufffin)
 */

 
/* Browser Resets */
.flex-container a:active,
.flexslider a:active,
.flex-container a:focus,
.flexslider a:focus  {outline: none;}
.slides,
.flex-control-nav,
.flex-direction-nav {margin: 0; padding: 0; list-style: none;} 

/* FlexSlider Necessary Styles
*********************************/ 
.flexslider {margin: 0; padding: 0;}
.flexslider .slides > li {display: none; -webkit-backface-visibility: hidden;} /* Hide the slides before the JS is loaded. Avoids image jumping */
.flexslider .slides img {width: 100%; display: block;}
.flex-pauseplay span {text-transform: capitalize;}

/* Clearfix for the .slides element */
.slides:after {content: "."; display: block; clear: both; visibility: hidden; line-height: 0; height: 0;} 
html[xmlns] .slides {display: block;} 
* html .slides {height: 1%;}

/* No JavaScript Fallback */
/* If you are not using another script, such as Modernizr, make sure you
 * include js that eliminates this class on page load */
.no-js .slides > li:first-child {display: block;}


/* FlexSlider Default Theme
*********************************/
.flexslider { position: relative; zoom: 1;}
.flex-viewport {max-height: 2000px; -webkit-transition: all 1s ease; -moz-transition: all 1s ease; transition: all 1s ease;}
.loading .flex-viewport {max-height: 300px;}
.flexslider .slides {zoom: 1;}

.flexslider  li {margin-right: 5px; list-style: none;}


/* Direction Nav */
.flex-direction-nav {*height: 0;}
.flex-direction-nav a {width: 80px; height: 80px; margin: -50px 0 0; display: block; background: url(../images/bg_direction_nav.gif) no-repeat 0 0; background-size: cover; position: absolute; top: 50%; z-index: 10; cursor: pointer; text-indent: -9999px; opacity: 0.4; -webkit-transition: all .3s ease; -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;}
.flex-direction-nav .flex-next {background-position: 100% 0; right: 0px; }
.flex-direction-nav .flex-prev {left: 0px;}
.flexslider:hover .flex-next {opacity: 1; right: -4px;}
.flexslider:hover .flex-prev {opacity: 1; left: -4px;}
.slides:hover .flex-next, .slides:hover .flex-prev {opacity: 0.9!important; background:#000;}
.flex-direction-nav .flex-disabled {opacity: .3!important; filter:alpha(opacity=30); cursor: default;}

/* Control Nav */
#indulgence-container .flex-control-nav {width: 100%; position: absolute; top: 0.85em; text-align: center;}
#indulgence-container .flex-control-nav {list-style: none;}
.flex-control-nav li {margin: 0 3px; display: inline-block; zoom: 1;}
.flex-control-paging li a {width: 14px; height: 14px; border-radius: 9px; display: block; background: #666; opacity: 0; cursor: pointer; text-indent: -9999px; -webkit-transition: all .3s ease; -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease; }
.flexslider:hover .flex-control-paging li a:hover { opacity:1; background: #333; background: rgba(0,0,0,0.4); }
.flexslider:hover .flex-control-paging li a.flex-active { opacity:1; background: #000; background: rgba(0,0,0,0.5); cursor: default; }
.flexslider:hover .flex-control-paging li a {opacity:1; background: rgba(0,0,0,0.2);}

#indulgence-container .flex-caption {position:absolute; bottom:0; width:100%; background-color: rgba(52, 54, 53, 0.8);
; text-align: center; padding:0.85em 0; margin:0;}
#indulgence-container .flex-caption p {color:#FFF; font-size: 1.625em; font-family: 'Oswald', sans-serif; font-weight:300; letter-spacing: 0.1em; text-transform: uppercase; padding:0; margin:0; }


@media screen and (max-width: 947px) {
#indulgence-container .flex-caption p {font-size: 1.25em;}
}

@media only screen and (max-width: 767px) {
  .flex-direction-nav a {width: 44px; height: 44px; margin: -24px 0 0;}
  #indulgence-container .flex-caption {padding:0.4em 0;}
  #indulgence-container .flex-caption p {font-size: .75em;}

}
