
#indulgence-container { font-family: 'Lora', sans-serif; font-weight:400; font-style: italic; color:#4c4c4c; word-wrap: break-word; }
#indulgence-container p {font-size: 0.95em; line-height: 1.8em; font-family: 'Lora', sans-serif; font-weight: 400; margin:1em 0;}


/* LINK STYLES */

#indulgence-container a { color:#121212; text-decoration: none;}
#indulgence-container a:hover { text-decoration: none; color:#444444;}
#indulgence-container a.cta-link { display: block; padding:6px 0;  -webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;-o-transition: 0.4s ease;-ms-transition: 0.4s ease;transition: 0.4s ease;}
#indulgence-container a.cta-link:hover {margin-left:4px; color:#282828;}
#indulgence-container a.cta-link:after {content: "\00a0 \2192";}


/* LIST STYLES */

#indulgence-container ul, #indulgence-container ol {list-style:inside; margin:1em 0; padding:0;}
#indulgence-container ul {list-style-type:disc; }
#indulgence-container ol {list-style-type:decimal; }


/* HEADING STYLES */

#indulgence-container h1, #indulgence-container h2, #indulgence-container h3, #indulgence-container h4, #indulgence-container h5 { padding:0 6px 0 0; font-family: 'Lora', sans-serif; font-weight:400; margin:0; color:#4c4c4c; line-height: 1.1; font-style: italic; text-rendering: optimizeLegibility; }

#indulgence-container h1 {font-size: 1.8em; }
#indulgence-container h2 {font-size: 1.6em; }
#indulgence-container h3 {font-size: 1.5em; }
#indulgence-container h4 {font-size: 1.3em; }
#indulgence-container h5 {font-size: 1em; }

#indulgence-container .block-surround h1, #indulgence-container .block-surround h2, #indulgence-container .block-surround h3, #indulgence-container .block-surround h4#indulgence-container .block-surround h5  { padding:0px 12px 0px 38px; display: inline-block; background:url(images/heading-bullet.gif) no-repeat center left #FFF;}
#indulgence-container .block-surround-after { background:#f7f9fa; width:100%; }
