/***** CUSTOM STYLES FOR INDULGENCE THEME *****/
.tab-content {
    margin-top: 24px;
}

.ccm-tag-list li.tab1 {
    background-color: #eb913d !important;
}

.ccm-tag-list li.tab2 {
    background-color: #163989 !important;
}

.ccm-tag-list li.tab3 {
    background-color: #6ca073 !important;
}

.ccm-tag-list li.tab4 {
    background-color: #BE5072 !important;
}

.ccm-tag-list li.tab5 {
    background-color: #ebe7da !important;
}

.ccm-tag-list li.tab a {
    color: #fff !important;
    font-weight: bold;
    font-size: 18px;
    display: block;
}

.ccm-tag-list li.active  a {
    color: #fff !important;
}    

.ccm-tag-list li.active {
  border-top: 4px solid;
  margin-top: -4px !important;
}

.ccm-tag-list li.tab1.active {
  border-color: #eb913d;
}

.ccm-tag-list li.tab2.active {
  border-color: #163989;
}

.ccm-tag-list li.tab3.active {
  border-color: #6ca073;
}

.ccm-tag-list li.tab4.active {
  border-color: #BE5072;
}

.ccm-tag-list li.tab5.active {
  border-color: #ebe7da;
}

.ccm-tag-list li.tab {
}

.hide {
    display: none;
}

.search-block-form-header .ccm-search-block-text, .ccm-search-block-text {
    background: #ebeff2;
    border: 0;
    padding: 8px;
    font-size: 1.1em;
    width: 220px;
    text-transform: uppercase;
    color: #4c4c4c;
}

#indulgence-container .search-block-form-header .ccm-search-block-submit, .ccm-search-block-submit {
    color: #fff;
    background: #797878;
    font-size: 1.1em;
    border: 0;
    border: 0;
    height: 31px;
    min-width: 34px;
    margin-bottom: 1px;
    cursor: pointer;
    -webkit-transition: background 1s ease-in;
    -moz-transition: background 1s ease-in;
    -ms-transition: background 1s ease-in;
    -o-transition: background 1s ease-in;
    transition: background 1s ease-in;
}

.highlight {
    background-color: #FFFF88;
}

hr {
    height: 1px;
    background: #ebeff2;
    border: 0;
}

/***** HOME PAGE "BOX" STYLES *****/

.large-4.columns.main-block {
  min-height: 430px;
  margin: 0 6px 0 6px;
  background: #ebeff2;
  padding-top: 12px;
  position: relative;
}

.large-4.columns.main-block h1 {
  font-size: 1.7em !important;
  height: 75px;
  line-height: 35px !important;
  color: #163989 !important;
}  

.columns.main-block p {
  font-size: 1em !important;
}

.columns.main-block .cta-link, .columns.main-block .arrow_box {
  position: absolute;
  bottom: 12px;
  text-decoration: none !important;
}

#indulgence-container .row .large-4 {
  width: 31%;
  margin-left: 13px;
}

#areaStyleColumn9 {
  background-color: #fff !important;
}

h1 {
  margin-bottom: 18px;
}

h3 {
  margin: 6px 0 6px 0 !important;
  line-height: 35px !important;
  color: #163989 !important;
}

/***** NAVIGATION *****/
#indulgence-container .navigation, #indulgence-container .header ul {
  background-color: #163989 !important;
}

/***** Set max width main menu nav items *****/
#indulgence-container .header ul li:hover ul {
  top: 73px !important;
}

#indulgence-container .header ul li ul li {
  max-width: 300px;
  min-height: 0px;
}  

#indulgence-container .header ul li {
  max-width: 173px;
  min-height: 70px;
}

/***** LEARN MORE ARROW *****/
.arrow_box {
	position: relative;
	background: #163989;
	border: none;
  color: #fff !important;
  text-decoration: none !important;
  padding: 1px 3px 1px 3px;
}
.arrow_box:after, .arrow_box:before {
	left: 100%;
	top: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(22, 57, 137, 0);
	border-left-color: #163989;
	border-width: 12px;
	margin-top: -12px;
}

#indulgence-container .footer {
  background: #163989 !important;
}

/***** Breadcrumbs *****/
.swp-breadcrumbs-level a, .swp-breadcrumbs-level a:hover {
  color: #121212;
  text-decoration: none;
}

#indulgence-container ul.nav {
  list-style-type: none;
}

#indulgence-container .left-sidebar-container ul.nav li a {
  display: block;
  font-weight: bold;
  height: 100%;
  width: 100%;
  color: #121212;
}

#indulgence-container .left-sidebar-container ul.nav li {
  padding: 3px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  margin-bottom: 3px;
  /*box-shadow: 0px 0px 3px #888888;*/
}

#indulgence-container .left-sidebar-container ul.nav li:hover {
  background-color: #dbd9d9;
}

/*
#indulgence-container .left-sidebar-container ul.nav li:nth-child(1) {
  background-color: #eb913d;
}
#indulgence-container .left-sidebar-container ul.nav li:nth-child(2) {
  background-color: #6ca073;
}
#indulgence-container .left-sidebar-container ul.nav li:nth-child(3) {
  background-color: #163989;
}
#indulgence-container .left-sidebar-container ul.nav li:nth-child(4) {
  background-color: #be5072;
}
#indulgence-container .left-sidebar-container ul.nav li:nth-child(5) {
  background-color: #8048a3;
}
*/

#indulgence-container .left-sidebar-container ul.nav li {
  background-color: #ebeff2;
}

.families-box {
  height: 330px;
}

.main-content-post-author p:nth-child(1) {
  display: none;
}

.main-content-post-footer-share p {
  display: block !important;
}

.center-box .blog-thumb {
  width: 60%;
  margin-left: 20%;
}

.center-box p {
  text-align: center !important;
}

ul.quote {
  list-style-image: url('images/icon-quote.png') !important;
  padding: 0px !important;
  margin-left: 25px !important;
  list-style-position: outside !important;
}

ul.quote li {
  font-style: normal;
  font-family: arial;
  margin-bottom: 24px;
}