
/* GENERAL AND REST STYLES */
/* Background pattern from subtlepatterns.com */
html, body {height: 100%; }
body {
  margin:0; 
  padding:0; 
  font-weight: normal; 
  font-style: normal; 
  min-height:100%; 
  line-height: 1;  
  -webkit-font-smoothing: antialiased;  
  background: url(images/bg-climpek.png);
}

#indulgence-container {height:100%;  position: relative;  padding-top:2em; }
#indulgence-container ul, #indulgence-container li {line-height: 1.6em;}
#indulgence-container  a img { border: none; }
#indulgence-container .clear {clear:both;}
#indulgence-container .rule-break { clear:both; background:#f7f9fa; width:100%; height:30px; margin:1.375em 0;}

#indulgence-container .main-container {padding:1.375em!important; background: #fdfdfe; }
#indulgence-container .main-block {margin-bottom:1.375em;} /* Adds bottom margin to each main-block */
#indulgence-container .side-block {margin-bottom:1.375em;} /* Adds bottom margin to each side-block */
#indulgence-container .footer-block {margin-bottom:1.375em;} /* Adds bottom margin to each footer-block */
#indulgence-container .slider-container {margin-bottom:2.735em; margin-top:-1.375em;} /* Adds bottom margin to slider */


/* HEADER STYLES */

#indulgence-container .header-container { width:100%; margin-bottom:2.75em; }
#indulgence-container .header ul {clear:both; list-style-type: none; margin:0; background:#4c4c4c; }
#indulgence-container .logo-container {float:left; margin:1.375em 0; }
.lt-ie9 #indulgence-container .logo-container {width: 430px; } /*ie8 requires a width*/
#indulgence-container .header-right {float:right; text-align: right; font-size:0.75em; letter-spacing: 0.1em; font-family: 'Droid Sans', sans-serif; text-transform: uppercase; font-style: normal;}


/* NAVIGATION STYLES */

#indulgence-container .header .menu-button {display:none;}
#indulgence-container .navigation {text-align: center; display: block; background: #4c4c4c;}
#indulgence-container .header ul {display: inline-table;}
#indulgence-container .header ul li {display: inline; border-left:1px solid #797878; font-size: 0.9em; margin: 0; float: left; position: relative; color:#FFF; -webkit-transition: background 1s ease-in-out; -moz-transition: background 1s ease-in-out; -ms-transition: background 1s ease-in-out; -o-transition: background 1s ease-in-out; transition: background 1s ease-in-out; }
#indulgence-container .header ul li:last-child {border-right:1px solid #797878;}
#indulgence-container .header ul li a {text-decoration: none; font-family: 'Droid Sans', sans-serif; font-weight: 700; font-style: normal; letter-spacing: 0.1em;  border-bottom:0;  padding:0.9em 1.375em; display: inline-block; text-transform: uppercase; margin:auto; height:74px; color:#FFF; -webkit-transition: color 1s ease-in-out; -moz-transition: color 1s ease-in-out; -ms-transition: color 1s ease-in-out; -o-transition: color 1s ease-in-out; transition: color 1s ease-in-out;  }
 #indulgence-container .header ul li ul { position: absolute; display: block; height:auto; top: -999em; width: 180px; /* left offset of submenus need to match */}

#indulgence-container .header ul li.nav-selected a { color:#FFF; background: url(images/nav-arrow.png) bottom center no-repeat;}
#indulgence-container .header ul li.nav-selected a:hover {cursor: default;}
#indulgence-container .header ul li.nav-selected ul li a:hover {cursor: pointer;}

#indulgence-container .header ul li ul {width:240px!important;}
#indulgence-container .header ul li ul li {border:0; text-align: left;}
#indulgence-container .header ul li ul li a {padding:0px; border:0; width:100%; height: 100%; }
#indulgence-container .header ul li.nav-selected ul li a {color:#FFF; background-image: none; }
#indulgence-container .header ul li:hover ul {background:#4c4c4c;  width:100%; left: 0; top:3.4em; z-index: 300;}
#indulgence-container .header ul li ul li { padding: 6px; width:100%; border-top:1px solid #797878;}
#indulgence-container .header ul li ul li:hover {background-color: #2c2e2d;}
#indulgence-container .header ul li ul li a { margin-left:0; padding:6px 12px;  -webkit-transition: 0.4s ease; -moz-transition: 0.4s ease; -o-transition: 0.4s ease; -ms-transition: 0.4s ease; transition: 0.4s ease; }
#indulgence-container .header ul li ul li:hover a { color:#FFF; margin-left:4px;}
#indulgence-container .header ul li ul li.nav-path-selected a:hover { cursor:default; margin-left:0px;}

#indulgence-container .header ul li.nav-path-selected ul li.nav-path-selected { background-color:#343635; }
#indulgence-container .header ul li.nav-path-selected ul li.nav-path-selected a {color:#ebeff2;}
#indulgence-container .header ul li:hover {background-color: #2c2e2d; visibility: inherit; /* fixes IE7 'sticky bug' */ }
#indulgence-container .header ul li.nav-path-selected:hover {background-color:#4c4c4c;}
#indulgence-container .header ul li.nav-path-selected ul li {cursor: pointer;}
#indulgence-container .header ul li.nav-path-selected ul li.nav-path-selected:hover { cursor:none; color:#FFF; background:#4c4c4c;} 
#indulgence-container .header ul li.nav-path-selected ul li.nav-path-selected:hover a { color:#FFF;} 


/* FOOTER */

#indulgence-container .footer {background:#4c4c4c; width:100%; margin-top:0.688em; }
#indulgence-container .footer p, #indulgence-container .footer li { color:#fff; font-size: 0.9em; padding:0; margin:0;}
#indulgence-container .footer a {color:#FFF; }
#indulgence-container .footer a:hover {color:#FFF; text-decoration: underline; }
#indulgence-container a.cta-link, #indulgence-container a.cta-link:hover {margin-left:4px; color:#FFF; text-decoration: none;}
#indulgence-container .footer .footer-credits p, #indulgence-container .footer p.footer-credits, #indulgence-container .footer .footer-credits a { font-size:0.9em; font-family: 'Droid Sans', sans-serif; font-weight:300; font-style: normal; text-transform: uppercase; letter-spacing: 0.1em; padding:0.9em; text-align:center; color:#FFF; }




/* MEDIA QUERIES (Main structural styles are found in foundation-4.css) */


/* UNDER 767px STYLES */

@media only screen and (max-width: 767px) {
#indulgence-container {padding-top:0;}	
#indulgence-container .main-container {margin-top:0; padding-top:0!important;}
#indulgence-container .header-container {margin-bottom:1.375em; padding:0;}
#indulgence-container .header-container .header {border-bottom:0;}
#indulgence-container .header-right {display: none;}
#indulgence-container .logo-container {border-bottom: 0; margin-bottom:0;}
#indulgence-container .header .navigation { display:none; clear:both; padding:0;  height:auto; overflow: hidden;}
#indulgence-container .header ul {display: block; clear:both;}
#indulgence-container .header ul li {width:100%; border:0; border-top:solid 1px #797878;}
#indulgence-container .header ul li a {width:100%;}
#indulgence-container .header ul li.nav-path-selected {border-top:solid 1px #797878;}
#indulgence-container .header ul li ul {display:none!important;}
#indulgence-container .header .menu-button { background: url(images/menu.png) #4c4c4c center; display:block; float:right; padding: 0.688em;  width:2.4em; vertical-align: middle; } }

/* TAGS */
#indulgence-container .ccm-tags-display ul {
    clear: both;
}

#indulgence-container .ccm-tags-display ul.ccm-tag-list li {display: inline;  background: #ebeff2; font-size:1em; font-family: 'Lora', sans-serif; font-weight:400; margin:0 0.425em 0.425em 0; padding:0.5em; text-align:center;  float: left; line-height: 13px; -webkit-transition: all 1s ease-in;
-moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in; transition: all .3s ease-in; }
#indulgence-container .ccm-tags-display ul.ccm-tag-list li:hover {background:#4c4c4c;}

#indulgence-container .ccm-tags-display ul.ccm-tag-list li a {color: #4c4c4c; -webkit-transition: all 1s ease-in;
-moz-transition: all .3s ease-in; -ms-transition: all .3s ease-in; -o-transition: all .3s ease-in; transition: all .3s ease-in;}
#indulgence-container .ccm-tags-display ul.ccm-tag-list li a:hover {color: #FFF;}

