#indulgence-container #searchResults .pageLink{ font-size:12px; color:#4c4c4c; margin:2px 0px 8px 0px; padding:0px; display:block }
#indulgence-container #searchResults .searchResult{ margin-bottom:1.375em; margin-top:24px }
#indulgence-container #searchResults .searchResult h3{ margin-bottom:0px; padding-bottom:0px }
#indulgence-container #searchResults .searchResult p {margin-top:0.688em}


#indulgence-container .ccm-search-block-text {background:#ebeff2; border:0; padding:0.688em; font-size:0.9em; width:50%; text-transform: uppercase; color:#4c4c4c;}
#indulgence-container .ccm-search-block-submit {color: #fff; background: #797878; font-size:0.9em; border:0; border:0; height:35px; min-width:40px; margin-bottom: 1px; cursor: pointer; -webkit-transition: background 1s ease-in; -moz-transition: background 1s ease-in; -ms-transition: background 1s ease-in; -o-transition: background 1s ease-in; transition: background 1s ease-in;}

#indulgence-container .ccm-search-block-submit:hover {background:#4c4c4c;}
#indulgence-container .ccm-search-block h3 {display: none;}