
#indulgence-container .search-block-form-header .ccm-search-block-text {background:#ebeff2; border:0; padding:8px; font-size:1.1em; width:220px; text-transform: uppercase; color:#4c4c4c;}
#indulgence-container .search-block-form-header .ccm-search-block-submit {color: #fff; background: #797878; font-size:1.1em; border:0; border:0; height:31px; min-width:34px; margin-bottom: 1px; cursor: pointer; -webkit-transition: background 1s ease-in; -moz-transition: background 1s ease-in; -ms-transition: background 1s ease-in; -o-transition: background 1s ease-in; transition: background 1s ease-in;}

#indulgence-container .search-block-form-header .ccm-search-block-submit:hover {background:#4c4c4c;}

#indulgence-container .search-block-form-header .ccm-search-block h3 {display: none;}