/* PAGE LIST */ 

/* Template Sidebar Page list */
#indulgence-container .ccm-page-list {margin-top:0.688em;}
#indulgence-container .page-list-title {font-size:16px; padding:12px 0; margin-bottom:2px; border-top: 1px solid #ebeff2; }
#indulgence-container .page-list-title:last-child {border-bottom: 1px solid #ebeff2; }
#indulgence-container .page-list-title span { margin-right:12px; color:#4c4c4c;}
#indulgence-container .page-list-title a { padding-left:12px; -webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;-o-transition: 0.4s ease;-ms-transition: 0.4s ease;transition: 0.4s ease;}
#indulgence-container .page-list-title a:hover {font-size:16px; border-bottom: 0; margin-left:4px;}


/* Template Sidebar Date Archieve */
#indulgence-container .date-archive-container {font-size:16px; margin-bottom:12px; }
#indulgence-container .date-archive-container ul {list-style: none;}
#indulgence-container .date-archive-container li {padding:6px 0;}
#indulgence-container .date-archive-container span {color:#d7d7d7; margin-right:12px;}
#indulgence-container .date-archive-container a {font-size:16px; -webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;-o-transition: 0.4s ease;-ms-transition: 0.4s ease;transition: 0.4s ease;}
#indulgence-container .date-archive-container a:hover { border-bottom: 0; margin-left:4px;}


/* BLOG STLYES */
#indulgence-container .blog-item { float:left; line-height: 0; margin-bottom:0.688em;  }
#indulgence-container .blog-thumb { float:left; position: relative; background-color:#4c4c4c; overflow:hidden; text-align: center; margin-bottom: 0.75em;}
.lt-ie9 #indulgence-container .blog-thumb { width:309px; height:192px;} /*sets width and height for ie8*/
#indulgence-container .blog-thumb a {width:100%; height:100%; display:block;}
#indulgence-container .blog-thumb img { width:100%; opacity: 1; -ms-filter: "alpha(opacity=100)"; -moz-transition: all .4s ease-in-out; -webkit-transition: all .4s ease-in-out;  -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
#indulgence-container .blog-thumb:hover img { opacity: 0.1; -ms-filter: "alpha(opacity=10)"; -moz-transform: scale(1.06); -webkit-transform: scale(1.06); -o-transform: scale(1.06); -transform: scale(1.06);}

#indulgence-container .blog-thumb .cta-image-link { opacity:0; -ms-filter: "alpha(opacity=0)"; position: absolute; top:40%; width:100%; margin-bottom:0px; -moz-transition: all .4s ease-in-out; -webkit-transition: all .4s ease-in-out;  -o-transition: all .4s ease-in-out; transition: all .4s ease-in-out; }
#indulgence-container .blog-thumb .cta-image-link a {margin:0; color:#FFF; font-family: 'Lora', sans-serif; font-weight: 400; font-style: italic; font-size:1.35em;}
#indulgence-container .blog-thumb .cta-image-link a:hover {color:#FFF;}
#indulgence-container .blog-thumb:hover .cta-image-link {opacity: 1; -ms-filter: "alpha(opacity=100)"; top:35%;}



