/* Template Sidebar Date Archieve */
#indulgence-container .date-archive-container {font-size:16px; margin-bottom:12px; }
#indulgence-container .date-archive-container ul {list-style: none;}
#indulgence-container .date-archive-container li {padding:6px 0;}
#indulgence-container .date-archive-container span {color:#d7d7d7; margin-right:12px;}
#indulgence-container .date-archive-container a { font-size:16px; -webkit-transition: 0.4s ease;-moz-transition: 0.4s ease;-o-transition: 0.4s ease;-ms-transition: 0.4s ease;transition: 0.4s ease;}
#indulgence-container .date-archive-container a:hover { border-bottom: 0; margin-left:4px;}
