
#indulgence-container .ccm-tags-display ul.ccm-tag-list li {display: inline;  background: #ebeff2; font-size:1em; font-family: 'Lora', sans-serif; font-weight:400; margin:0 0.425em 0.425em 0; padding:0.5em; text-align:center;  float: left; line-height: 13px; -webkit-transition: all 1s ease-in;
-moz-transition: all 1s ease-in; -ms-transition: all 1s ease-in; -o-transition: all 1s ease-in; transition: all 1s ease-in; }
#indulgence-container .ccm-tags-display ul.ccm-tag-list li:hover {background:#4c4c4c;}

#indulgence-container .ccm-tags-display ul.ccm-tag-list li a {color: #4c4c4c; -webkit-transition: all 1s ease-in;
-moz-transition: all 1s ease-in; -ms-transition: all 1s ease-in; -o-transition: all 1s ease-in; transition: all 1s ease-in;}
#indulgence-container .ccm-tags-display ul.ccm-tag-list li a:hover {color: #FFF;}